*{
  padding: 0;
  margin: 0;
  color: rgb(67, 67, 65);
}

.wrapper{
  background: repeating-radial-gradient(	#FFFFE0, #a7a7a7);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100%;
  
}

.block {
  margin: 20% 0;
  width: 500px;
  background-color: #fdfdfd;

  border: 1px solid rgb(221, 221, 221);
  box-shadow: 1px solid rgb(221, 221, 221);


}

.block ul{
  width: 100%;
  list-style: none;
  display: flex;

}

.block ul li{
  width: 25%;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 1px solid rgb(221, 221, 221);
  background-color: #f9f9e4;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s ease;
  
}

.block ul li:hover{
  opacity: 0.8;
}

.block ul li.active{
  background: repeating-radial-gradient(	#bca72e, #a7a7a7);

}

.block input{
  width: 50%;
  padding: 15px;
  border: 1px solid rgb(221, 221, 221);
  box-shadow: 1px solid rgb(221, 221, 221);
  margin: 20px 23%;
  border-radius: 15px;
}